



.titlecarou {
    font-family: $main-font;
    color: $white;

} 


/* #flex.son {

    margin-top: 200px;
    position: relative;
    border: 3px;
}


#flex.father {

    position: absolute;
    border: 3px solid red;
    height: auto;
}
 */

#container-emb {
background-color: $light-blush;
}
 

#textabout1 {
    font-family: $main-font;
    color: $dark-green; 
    padding-left: 190px;
    padding-right: 190px;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 8%;
    font-size: $xl-font;
        
        
        
}


#textabout2 {

    font-family: $main-font;
    color: $white; 
    margin-top: 60%;
    text-align: justify;
    font-size: $xl-font;
    width:400px;
        
}


// Media Query



@media (max-width:768px){
    #textabout1 {
        font-size: $m-font;
        padding:0;
        margin: 0;
            
    }
}


@media (max-width:768px){
    #textabout2 {
        font-size: $m-font;
        
        
        color: $dark-green;
        
       /*  border: 3px solid red; */
        width: 520px;
        margin-bottom: 40px;
        display: relative;
        
            
            
    }
}

@media (max-width:642px){
    #textabout2 {
        font-size: $m-font;
        
        
        color: $dark-green;
        
        /* border: 3px solid red; */
        width: 290px;
        margin-top: 150px;
        
        
        
            
            
    }
}

@media (max-width:768px){
    #footerabout {
       margin-top: 200px;
        
            
            
    }
}

@media (max-width:642px){
    #footerabout {
       margin-top: 340px;
        
            
            
    }
}

@media (max-width:768px){
    #container-emb {
        height: 400px;
        margin-top: 5%;
                
    }
}

@media (max-width:768px){
        #img-emb {
        height: 400px;
        margin-bottom: 50%;
                    
                    
    }
}


@media (max-width:768px){
        #div-img-emb {
                        
        height: 300px;
        margin-right: 100px;
        color: $black;
        
                        
                        
                        
    }
}


