

a {
    animation-duration: 1s;
    animation-name: slidein;
}

.garamond1 {
    font-family: $main-font;
}


.logomain {

    margin-right: 20px;
}
    

#bn {
        text-decoration: none !important;
}

#navegadord {
    margin-right: 14px;
    

}
#navegadori {
    margin-left: 8px;
    text-decoration: none !important;

}
#navegadori {
    margin-left: 8px;
    text-decoration: none !important;

}


//Media Query


@media (max-width:768px){
    .logomain{
    display: none;
    }
} 
@media (max-width:768px){
    #navegadori{
    display: none;
    }
} 
@media (max-width:768px){
    #navegadord{
    display: none;
    }
} 
@media (max-width:1042px){
    .logomain{
    display: none;
    }
} 
@media (max-width:1042px){
    #navegadori{
    display: none;
    }
} 
@media (max-width:1042px){
    #navegadord{
    display: none;
    }
} 
@media (min-width:1042px){
    .navbarphone{
    display: none;
    }
} 
@media (min-width:1042px){
    #navbarphone{
    display: none;
    }
} 
@media (min-width:1042px){
    #navbarphone{
    display: none;
    }
} 



