

a {
    animation-duration: 1s;
    animation-name: slidein;
}

.garamond1 {
    font-family: $main-font;
}


.logomain {

    margin-right: 20px;
}
    

#bn {
        text-decoration: none !important;
}

#navegadord {
    margin-right: 14px;
    

}
#navegadori {
    margin-left: 8px;
    text-decoration: none !important;

}
#navegadori {
    margin-left: 8px;
    text-decoration: none !important;

}


//Media Query


@media (max-width:768px){
    .logomain{
        width: 100px;
        margin-left: 60px;
    }
} 


@media (max-width:768px){
    #navegadori{
        font-size: $m-font;
        padding:0%;
        margin-left: 63px;
        
    }
}

@media (max-width:768px){
    #navegadord{
        font-size: $m-font;
        padding:0%;
        margin-left: 40px;
    }
}

@media (max-width:810px){
    .logomain{
        width: 230px;
    }
}


@media (max-width:810px){
    #navegadori{
        font-size: $m-font;
        padding:0%;
        margin-left: 63px;
        
    }
}

@media (max-width:810px){
    #navegadord{
        font-size: $m-font;
        padding:0%;
        margin-left: 40px;
    }
}

@media (max-width:854px){
    .logomain{
        width: 230px;
        
    }
}


@media (max-width:854px){
    #navegadori{
        font-size: $m-font;
        padding:0%;
        
        
    }
}

@media (max-width:854px){
    #navegadord{
        font-size: $m-font;
        padding:0%;
        
    }
}


@keyframes slidein {
    from {
        margin-left: 40%;
        width: 100%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }}
